# My variables
name: Lei Zhang
description: 42
google_verification: null


# File management
include: [".htaccess"]
exclude: ["README.md", "LICENSE", "_posts/archive"]


# Sass
sass:
  style: :compressed
  sass_dir: _sass


# Markdown
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
highlighter: rouge
