---
---

@import "reset";
@import "config";

body {
    color: $color-fg;
    background: $color-bg;
    font-family: $font-family;
    font-size: 100%;
    font-weight: 400;
    line-height: $line-height-base;
}
h1 {
    margin-bottom: 0.5em;
    line-height: $line-height-heading;
    letter-spacing: -0.02em;
}
p {
    font-size: 1em;
    line-height: $line-height-base;
    margin-bottom: 1em;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link;
    text-decoration: none;
  }
  &:hover {
    color: $color-link;
    text-decoration: underline;
  }
  &:active {
    color: $color-link;
    text-decoration: none;
  }
}
ul {
    list-style: none;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}


.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: calc(#{$font-base} * #{$font-scale} * #{$font-scale});
        margin-bottom: 0;
        line-height: $line-height-heading;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }
}


.portfolio,
.blog {
    padding-bottom: 30px;
    h1 {
        font-size: calc(#{$font-base} * #{$font-scale} * 1.1);
        margin-bottom: 0.5em;
        line-height: $line-height-heading;
    }
}


.post {
    padding-bottom: 30px;
    &__title {
        font-size: calc(#{$font-base} * #{$font-scale} * #{$font-scale});
        font-weight: 700;
        text-decoration: underline;
        margin-top: 1.25em;
        margin-bottom: 0.5em;
        line-height: $line-height-heading;
        letter-spacing: -0.01em;
    }
    &__date {
        font-size: 1em;
        font-style: italic;
    }
    &__content {
        padding-top: 2.5em;
        h1 {
            font-size: calc(#{$font-base} * #{$font-scale});
            font-weight: 700;
            margin-top: 2em;
            margin-bottom: 0.75em;
            line-height: $line-height-heading;
            letter-spacing: -0.01em;
        }
        p {
            font-size: 1em;
            line-height: $line-height-base;
            margin-bottom: 1em;
        }
        a {
            text-decoration: underline;
            &:hover {
                font-weight: bold;
            }
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        ul {
            font-size: 1em;
            list-style: circle;
            margin-left: 30px;
            margin-top: -5px;
            margin-bottom: 5px;
            li {
                padding: 5px;
                padding-left: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 10px;
            }
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }
        code {
            padding: 3px;
            font-size: 0.9em;
            border-radius: 3px;
            background: $color-grey;
            line-height: $line-height-tight;
        }
        .highlight {
            margin: 10px;
            margin-bottom: 15px;
            padding: 10px;
            line-height: $line-height-tight;
            border-radius: 3px;
            background: $color-fg;
            code {
                color: $color-code;
                background: none;
            }
        }
        .codebreak {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed $color-fg;
        }
    }
}

.about {
    &__title {
        font-size: calc(#{$font-base} * #{$font-scale} * #{$font-scale});
        font-weight: 700;
        margin-top: 1.25em;
        margin-bottom: 0.625em;
        line-height: $line-height-heading;
        letter-spacing: -0.01em;
    }
    &__content {
        margin-top: 1.25em;
        h1 {
            font-size: calc(#{$font-base} * #{$font-scale});
            font-style: italic;
            margin-top: 2em;
            margin-bottom: 0.5em;
            line-height: $line-height-heading;
        }
        p {
            font-size: 1em;
            line-height: $line-height-base;
            margin-bottom: 1em;
        }
    }
}
